apiVersion: 1

datasources:
  - name: Postgres
    type: postgres
    url: database:5432
    user: grafanareader
    access: proxy
    secureJsonData:
      password: PASSWORD_VAR
    jsonData:
      database: DATABASE_VAR
      postgresVersion: 1200
      sslMode: 'disable'